<div class="navbar__wrapper">

    <div class="navbar__actions__wrapper">
        <div class="navbar__logo__wrapper">
            <img src="../../assets/navbar_logo.png" alt="navbar_logo" />
            <span>Mathematic Olympics</span>
        </div>

        <div class="navbar__competition__wrapper">
            <button *ngIf="!inCompetition" routerLink="/competition" class="btn ">Join competition</button>
            <button *ngIf="inCompetition" routerLink="/" class="btn ">Leave competition</button>
            <div class="navbar__user__wrapper" >
                <img src="../../assets/account_circle.png" alt="acount_circle" />
                <span>{{username}}</span>

                <img src="../../assets/exit_to_app.png" alt="logout" />
                <span routerLink="/logout">Logout</span>
            </div>
        </div>
    </div>
</div>
