.navbar__wrapper {
  width: 100%;
  height: 60px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 79.51%), #195159;
  display: flex;
  justify-content: center;
  align-items: center;
  .navbar__actions__wrapper {
    width: 70%;
    max-width: 1200px;
    // position: relative;

    display: flex;
    justify-content: space-between;

    .navbar__logo__wrapper {
      display: flex;
      align-items: center;

      span {
        font-size: 16px;
        color: white;
        margin-left: 15px;
      }
    }

    .navbar__competition__wrapper {
      button {
        width: 180px;
        height: 30px;
        background: #ff7b00;
        border-radius: 10px;
        color: white;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 18px;
      }
      .navbar__user__wrapper {
        display: inline-block;
        margin-left: 10px;

        span {
          font-size: 14px;
          color: white;
          margin-left: 5px;
          margin-right: 10px;
          cursor: pointer;
        }
      }

      .navbar__user__wrapper:hover {
        content: 'LOGOUT';
      }
    }
  }
}
