.home__wrapper {
  background: url('../../assets/background.png');
  width: 100%;
  height: 100vh;
  position: relative;

  .home__content{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
  }
}
