<div class="home__wrapper">
  <app-navbar></app-navbar>
  <div class="home__content">
    <app-tabs></app-tabs>
  </div>
</div>

<!-- <div *ngFor="let message of messageList">
  {{ message.username }}
  {{ message.body }} - {{ message.date }}
</div>

<input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" />
<button (click)="sendMessage()">Send Message</button> -->
