.register__wrapper {
    background: url('../../assets/auth_background.png');
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .register__content__wrapper {
      background: url('../../assets/login_content_wrapper_background.png');
      background-position: center;
  
      width: 80%;
      max-width: 1400px;
      height: 80%;
  
      .row {
        height: 100%;
      }
  
      .logo__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85%;
  
        img {
          width: 80%;
          max-width: 400px;
        }
      }
  
      .solve__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          width: 80%;
          max-width: 540px;
        }
      }
  
      .form__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 20px;
  
        .form__content__wrapper {
          width: 80%;
          height: 80%;
          max-width: 347px;
          height: fit-content;
  
          background: #ffffff;
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.55);
          border-radius: 10px;
  
          .form__header {
            background: #ffffff;
            box-shadow: 0px 4px 10px rgba(255, 208, 117, 0.52);
            border-radius: 10px 10px 0px 0px;
            height: 75px;
            width: 100%;
            padding: 28px 20px;
  
            span {
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              /* identical to box height */
  
              text-transform: uppercase;
  
              /* Yelyow */
  
              color: #ffba33;
            }
          }
  
          .form__content {
            padding: 20px;
            input {
              background: #f7f9f9;
              border: 1px solid #dfdfdf;
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
              border-radius: 10px;
              height: 40px;
              margin-top: 18px;
            }
  
            .form__button {
              height: 51px;
              width: 100%;
  
              background: #195159;
              border-radius: 10px;
              margin-top: 20px;
            }
          }
        }
  
        .bottom__text__wrapper {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
  
          div {
            font-weight: 600;
            font-size: 16px;
            color: white;
          }
  
          span {
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            color: #195159;
          }
  
          span:hover {
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
  