<div class="register__wrapper">
  <div class="register__content__wrapper">
    <div class="row">
      <div class="col-6">
        <div class="logo__wrapper">
          <img src="../../assets/login_logo.png" alt="logo" />
        </div>
        <div class="solve__wrapper">
          <img src="../../assets/solve_logo.png" alt="solve_logo" />
        </div>
      </div>
      <div class="col-6">
        <div class="form__wrapper">
          <div class="form__content__wrapper">
            <div class="form__header">
              <span>ALREADY MEMBERS</span>
            </div>
            <div class="form__content">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <!-- <label for="username">Username</label> -->
                  <input
                    placeholder="Username"
                    type="text"
                    formControlName="username"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                  />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <!-- <label for="username">Username</label> -->
                  <input
                    placeholder="Passowrd"
                    type="password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                  />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <!-- <label for="password">Password</label> -->
                  <input
                    placeholder="Password"
                    type="password"
                    formControlName="password_repeated"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password_repeated.errors }"
                  />
                  <div *ngIf="submitted && f.password_repeated.errors" class="invalid-feedback">
                    <div *ngIf="f.password_repeated.errors.required">Password is required</div>
                  </div>
                  <div class="invalid-feedback" *ngIf="f.password_repeated.errors?.MatchPassword">
                    Password not match
                  </div>
                </div>
                <div class="form-group">
                  <!-- <label for="password">Password</label> -->
                  <input
                    placeholder="E-mail"
                    type="text"
                    formControlName="email"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors">Not a valid e-mail adress</div>
                  </div>
                </div>
                <div class="form-group">
                  <!-- <label for="password">Password</label> -->
                  <input
                    placeholder="Nickname"
                    type="text"
                    formControlName="nickname"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.nickname.errors }"
                  />
                  <div *ngIf="submitted && f.nickname.errors" class="invalid-feedback">
                    <div *ngIf="f.nickname.errors.required">Nickname is required</div>
                  </div>
                </div>

                <button [disabled]="loading" class="btn btn-primary form__button">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  SIGN UP
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
              </form>
            </div>
          </div>
          <div class="bottom__text__wrapper">
            <div>Already have an account?</div>
            <span routerLink="/login">Login</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
