.tabs__wrapper {
  width: 1200px;
  height: 850px;

  .tabs__selector__wrapper {
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 14px;
    display: flex;

    .tab {
      height: 24px;
      width: 285px;
      background: rgba(145, 145, 145, 0.7);
      border-radius: 10px 10px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .active {
      background: #195159;
    }
  }
  .tab__content__wrapper {
    width: 100%;
    background: url('../../assets/chess_background.png');
    background-size: contain;
    background-position: -211px;

    ///////// CHAT ////////
    .chat__wrapper {
      width: 100%;
      height: 826px;
      display: flex;
      //   background: red;

      .chat__user__list {
        width: 286px;
        height: 100%;
        background: rgba(30, 18, 18, 0.47);
        // display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px;

        .header {
          width: 273px;
          height: 30px;
          border-bottom: 0.5px solid rgba(255, 255, 255, 0.19);
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px;

          .online__indicator {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: radial-gradient(50% 50% at 50% 50%, #28675f 0%, #04f848 0.01%, rgba(4, 248, 72, 0.75) 100%);
          }

          .text {
            width: 95%;
            color: white;
            font-size: 14px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            padding: 5px;
            line-height: 2px;
          }
        }

        .users {
          .player {
            display: flex;
            border-bottom: 0.5px solid rgba(255, 255, 255, 0.19);
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 3px;

            img {
              border-radius: 10px;
              width: 30px;
              height: 31px;
              margin-right: 5px;
            }
            .details {
              display: flex;
              flex-direction: column;
              justify-content: center;

              .name {
                font-size: 14px;
                line-height: 17px;

                color: #ffffff;
              }
              .time {
                font-size: 13px;
                line-height: 14px;

                color: #989898;
              }
            }
          }
        }
      }

      .chat__messages__wrapper {
        background: #f3f3f3;
        width: 917px;
        height: 100%;
        position: relative;

        .messages {
          padding: 16px;

          max-height: 750px;
          overflow-y: auto;

          .message {
            // display: flex;
            margin-bottom: 15px;

            img {
              // border-radius: 10px;
              width: 36px;
              height: 37.82px;
              margin-right: 8px;
              min-width: 36px;
            }
            .name__details {
              display: flex;
              flex-direction: row;

              .name {
                font-weight: 600;
                font-size: 14px;

                color: #262626;
                display: flex;
                align-items: baseline;
              }
              .time {
                display: flex;
                align-items: baseline;
                font-weight: 300;
                font-size: 12px;
                margin-left: 8px;
                line-height: 20px;
              }
            }

            .body__wrapper {
              display: inline-flex;
              flex-direction: column;
            }

            .body {
              font-size: 14px;
            }
          }
        }

        .text__input__wrapper {
          width: 100%;
          height: 80px;
          position: absolute;
          padding: 16px;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;

          input {
            width: 820px;
            height: 31px;

            background: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            border: none;
            outline: none;
            padding: 5px;
          }

          button {
            background: #ffba33;
            border: none;
            margin-left: 12px;
            height: 28px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }

    ///// TOP PLAYERS /////
    .top__players__wrapper {
      width: 100%;
      height: 826px;
      display: flex;
      background: url('../../assets/chess_background.png');
      background-size: contain;

      .player__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 68px 44px;

        .labels {
          width: 100%;
          height: 30px;

          color: white;
          font-size: 17.5px;
          text-align: right;

          .score__label {
            padding-right: 10px;
          }

          .rank__label{
            padding-left: 35px;
          }
        }

        .player__list__scroll{
          overflow-y: auto;
        }

        .player {
          width: 100%;
          height: 64px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.28);

          background: rgba(0, 0, 0, 0.32);

          color: white;
          font-size: 17.5px;
          display: flex;
          align-items: center;
          text-align: right;

          .rank {
          }

          img {
            border-radius: 50%;
            width: 45px;
            height: 45px;
          }

          .name {
            text-align: center;
          }

          .score {
            padding-right: 20px;
          }
        }
      }
    }
  }
}
