<div class="tabs__wrapper">
  <div class="tabs__selector__wrapper">
    <div
      class="tab"
      id="chatWithUsers"
      (click)="onTabSelect($event.target.id)"
      [ngClass]="{ active: selectedTab === 'chatWithUsers' }"
    >
      Chat with users
    </div>
    <div
      class="tab"
      id="topPlayers"
      (click)="onTabSelect($event.target.id)"
      [ngClass]="{ active: selectedTab === 'topPlayers' }"
    >
      Top Players
    </div>
  </div>
  <div class="tab__content__wrapper">
    <div *ngIf="selectedTab === 'chatWithUsers'">
      <div class="chat__wrapper">
        <div class="chat__user__list">
          <div class="header">
            <div class="online__indicator"></div>
            <div class="text">
              <span>Online users</span>
              <span>{{ onlineUsers.length }}</span>
            </div>
          </div>
          <div class="users">
            <div class="player" *ngFor="let user of onlineUsers">
              <img src="https://eu.ui-avatars.com/api/?name={{ user.username }}" alt="" />
              <div class="details">
                <div class="name">{{ user.username }}</div>
                <div class="time">{{ user.date }}</div>
              </div>
            </div>
            <!-- <div class="player">
              <img src="../../assets/background.png" alt="" />
              <div class="details">
                <div class="name">Sanyi</div>
                <div class="time">12:33</div>
              </div>
            </div> -->

            <!-- <div class="player">
              <img src="../../assets/background.png" alt="" />
              <div class="details">
                <div class="name">Sanyi</div>
                <div class="time">12:33</div>
              </div>
            </div> -->

            <!-- <div class="player">
              <img src="../../assets/background.png" alt="" />
              <div class="details">
                <div class="name">Sanyi</div>
                <div class="time">12:33</div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="chat__messages__wrapper">
          <div class="messages" id="messageList">
            <div
              class="message"
              *ngFor="let message of messageList"
              id="message-{{ message.username }}-{{ message.date }}"
            >
              <div style="display: flex;">
                <img src="https://eu.ui-avatars.com/api/?name={{ message.username }}" alt="" />
                <div class="body__wrapper">
                  <div class="name__details">
                    <div class="name">{{ message.username }}</div>
                    <div class="time">{{ message.date }}</div>
                  </div>
                  <div class="body">{{ message.body }}</div>
                </div>
              </div>
            </div>

            <!-- <div class="message">
                            <div style="display: flex;">
                                <img src="../../assets/background.png" alt="">
                                <div class="body__wrapper">
                                    <div class="name__details">
                                        <div class="name">Sanyi</div>
                                        <div class="time">12:33</div>
                                    </div>
                                    <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
                                        quod culpa? Sint, eligendi! Eos, quos voluptate optio laborum possimus
                                        cupiditate error accusamus hic ipsa quia culpa sint aut adipisci nulla id
                                        dolorum alias esse suscipit perspiciatis nesciunt quibusdam ipsum? Ab magnam
                                        dolores in obcaecati, minus earum suscipit voluptatibus. Provident, voluptatum!
                                    </div>
                                </div>
                            </div>
                        </div> -->
          </div>

          <div class="text__input__wrapper">
            <input [(ngModel)]="newMessage" class="input" (keyup)="$event.keyCode == 13 && sendMessage()" />
            <button type="submit" (click)="sendMessage()"><img src="../../assets/send-24px 1.png" /></button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedTab === 'topPlayers'">
      <div class="top__players__wrapper">
        <div class="player__list">
          <div class="row labels">
            <div class="col-1">
              <div class="rank__label">Rank</div>
            </div>
            <div class="col-2"></div>
            <div class="col-1">
              <div class="name">User</div>
            </div>
            <div class="col">
              <div class="score__label">Score</div>
            </div>
          </div>
<div class="player__list__scroll">
          <div class="row player" *ngFor="let player of topPlayers;  index as i;">
            <div class="col-1">
              <div class="rank">{{i + 1}}.</div>
            </div>
            <div class="col-2">
              <img src="https://eu.ui-avatars.com/api/?name={{ player.username }}" alt="" />
            </div>
            <div class="col-1">
              <div class="name">{{player.username}}</div>
            </div>
            <div class="col">
              <div class="score">{{player.score}}</div>
            </div>
          </div>
        </div>
       

        </div>
      </div>
    </div>
  </div>
</div>
