<div class="login__wrapper">
  <div class="login__content__wrapper">
    <div class="row">
      <div class="col-6">
        <div class="logo__wrapper">
          <img src="../../assets/login_logo.png" alt="logo" />
        </div>
        <div class="solve__wrapper">
          <img src="../../assets/solve_logo.png" alt="solve_logo" />
        </div>
      </div>
      <div class="col-6">
        <div class="form__wrapper">
          <div class="form__content__wrapper">
            <div class="form__header">
              <span>ALREADY MEMBERS</span>
            </div>
            <div class="form__content">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <!-- <label for="username">Username</label> -->
                  <input
                    placeholder="Username"
                    type="text"
                    formControlName="username"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                  />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <!-- <label for="password">Password</label> -->
                  <input
                    placeholder="Password"
                    type="password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                  />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary form__button">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  SIGN IN
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
              </form>
            </div>
          </div>
          <div class="bottom__text__wrapper">
            <div>Don’ t have an account yet?</div>
            <span  routerLink="/register">Create one</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
