<div class="competition__wrapper">
  <app-navbar></app-navbar>

  <div class="competition__task__wrapper" >
    <div class="header" [ngClass]="{'prepare': prepare && !won, 'won': won }">
      <span *ngIf="prepare && !won">Prepare for the next task</span>
      <span *ngIf="won">You solved the task. {{earnedPoints}} points earned.</span>
      <span *ngIf="!won && !prepare">Submit your solution. Time left: {{timeLeft}}s</span>


    </div>

    <div class="content">
      <div class="task_wrapper">
        <div class="labels">
          <span>Task</span>
          <span class="points">{{ points }} points</span>
        </div>
        <div class="task">{{currentTask}}</div>
      </div>

      <div class="solution_wrapper">
        <div class="labels">
          <span>Solution</span>
        </div>

        <input [readOnly]="won" [(ngModel)]="solution"  [ngClass]="{'won': won }" class="solution" (keyup)="$event.keyCode == 13 && submitSolution()"  />
      </div>

      <button [disabled]="prepare && !won" [ngClass]="{'prepare': prepare && !won}" (click)="submitSolution()">SUBMIT</button>
    </div>
  </div>
</div>

<!-- <div *ngIf="this.won"> YOU WON! Niceee</div>
<div *ngIf="this.prepare"> Prepare for the next task.</div>
{{currentTask}}

<input [(ngModel)]="solution" (keyup)="$event.keyCode == 13 && submitSolution()" />
<button (click)="submitSolution()">Submit Solution</button> -->
