.competition__wrapper {
  background: url('../../assets/background.png');
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  app-navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  .competition__task__wrapper {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    width: 501px;
    height: 350px;
    .header {
      width: 502px;
      height: 30px;

      background: #16464d;
      border-radius: 15px 15px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 17px;
    }

    .prepare {
      background: #ff7b00;
    }

    .won {
      background: #50c84d;
    }

    .content {
      padding: 20px;
      padding-top: 25px;

      .task_wrapper {
        .labels {
          padding-left: 10px;
          padding-right: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .points {
            width: 75px;
            height: 22px;

            background: #50c84d;
            border-radius: 4px;

            font-size: 14px;
            // line-height: 17px;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .task {
          width: 100%;
          height: 55px;

          background: #ffffff;
          border: 2px solid #dddddd;
          box-sizing: border-box;
          border-radius: 15px;
          margin-bottom: 15px;
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 17px;
        }
      }

      .solution_wrapper {
        .labels {
          padding-left: 10px;
        }

        .solution {
          width: 100%;
          height: 55px;

          background: #ffffff;
          border: 2px solid #dddddd;
          box-sizing: border-box;
          border-radius: 15px;
          margin-bottom: 15px;
          text-align: center;
          margin-top: 10px;

          font-size: 17px;
          outline: none;
        }

        .won {
          border: 2px solid #50c84d;
        }
      }

      button {
        width: 100%;
        height: 50px;
        margin-top: 10px;

        background: #16464d;
        border-radius: 15px;
        color: white;
        font-size: 17px;
      }

      .prepare{
        background: #3f4243bf;
      }
    }
  }
}